.autoharp {
    font-size: 0;
    --s: 100px;
    --m: 100px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 9rem);
    padding-bottom: 1rem;
    margin-top: 1.8rem;

    .c_sharp,
    .e,
    .g,
    .a_sharp {
        justify-self: center;
    }

    .d,
    .f,
    .g_sharp,
    .b {
        justify-self: end;
    }

    h2 {
        font-weight: bold;
    }

    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: var(--s);
        height: var(--m);
        background-color: #ffde6a;
        margin: 28.87px 0;
        border-left: solid 2.3px #333333;
        border-right: solid 2.3px #333333;
        &--on {
            background-color: white;
        }
    }
    &__button::before,
    &__button::after {
        content: "";
        position: absolute;
        z-index: 1;
        width: 70.71px;
        height: 70.71px;
        -webkit-transform: scaleY(0.5774) rotate(-45deg);
        -ms-transform: scaleY(0.5774) rotate(-45deg);
        transform: scaleY(0.5774) rotate(-45deg);
        background-color: inherit;
        left: 12.3447px;
    }

    &__button::before {
        top: -35.3553px;
        border-top: solid 3.2527px #333333;
        border-right: solid 3.2527px #333333;
    }

    &__button::after {
        bottom: -35.3553px;
        border-bottom: solid 3.2527px #333333;
        border-left: solid 3.2527px #333333;
    }
    @media screen and (max-width: 1140px) {
        grid-template-rows: repeat(3, 6rem);
        &__button {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            width: 60px;
            height: 60px;
            background-color: #ffde6a;
            margin: 17.32px 0;
            border-left: solid 2.3px #333333;
            border-right: solid 2.3px #333333;
            &--on {
                background-color: white;
            }
        }
        &__button::before,
        &__button::after {
            content: "";
            position: absolute;
            z-index: 1;
            width: 42.43px;
            height: 42.43px;
            -webkit-transform: scaleY(0.5774) rotate(-45deg);
            -ms-transform: scaleY(0.5774) rotate(-45deg);
            transform: scaleY(0.5774) rotate(-45deg);
            background-color: inherit;
            left: 6.4868px;
        }

        &__button::before {
            top: -21.2132px;
            border-top: solid 3.2527px #333333;
            border-right: solid 3.2527px #333333;
        }

        &__button::after {
            bottom: -21.2132px;
            border-bottom: solid 3.2527px #333333;
            border-left: solid 3.2527px #333333;
        }

        h2 {
            font-size: 18px;
        }
    }
}
