.mobile-menu-wrapper {
    &> button {
        display: block;
        background-image: url('./menu.svg');
        background-repeat: no-repeat;
        background-size: contain;
        width: 35px;
        height: 35px;
        margin: 5px;
    }
}

.drawer-content-wrapper {
    background-color: black;
}

.mobile-nav-drawer {
    background-color: black;

    ul {
        margin-top: 22px;
    }

    li {
        color: white;
    }

    .drawer-close {
        color: white;
        font-size: 20px;
        line-height: 1;
        border: 1px solid white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        float: right;
        margin: 12px;
    }

    .drawer-content {
        overflow: auto;
        height: 100vh;
    }
}
