.workspace {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
}

.workspacenav {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}