@import "styles/_variables.scss";

.navigation {
  height: 100%;
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-around;

  &__logo {
    font-family: "Glow Better";
    font-weight: normal;
    text-align: left;
    font-size: 4vw;
    margin: 0;
    line-height: 1;
    color: $accent-medium;
    text-shadow: 0px 4px 13px $main-light, 0px 4px 24px $main-light, 0px 0px 6px $main-light;
  }

  &__sublogo {
    font-family: "Wild Wolf Regular";
    font-weight: normal;
    text-align: right;
    font-size: 2.5vw;
    line-height: 1;
    color: $accent-medium;
    margin: 0;
    text-shadow: -2px 1px 7px $main-light, 0px 4px 24px $main-light, 0px 0px 6px $main-light;
  }
}
