.tab {
  &__text {
    text-anchor: middle;
    font-size: 20px;
    font-weight: bold;

    &--openNote {
      fill: rgb(0, 0, 0);
    }

    &--note {
      fill: rgb(255, 255, 255);
    }

    &--marker {
    }
  }
}
