
article {
  word-wrap: break-word;
  text-align: justify;
  text-justify: inter-word;
  float: left;
  padding: 20px;
  width: 100%;

}

article > p {
  color: white;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; 
  height: 0;
}

.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

a:link {
  color: #FFDE6A;
}

/* visited link */
a:visited {
  color: #FFDE6A;
}

/* mouse over link */
a:hover {
  color: #F7CC2F;
}

/* selected link */
a:active {
  color: #FFDE6A;
}
