@import "styles/_variables.scss";
@import "styles/_media.scss";

.tabcontainer {
  position: relative;
  width: 100%;

  &__close {
    position: absolute;
    right: .25rem;
    top: .25rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background: transparent;
  }
}

.alltabscontainer {
  list-style-type: none;
  padding: 0;
}

.tabsectioncontainer {
  &__select {
    padding: 0.5rem;
    width: 100%;

    @include md {
      width: 80%;
    }

    @include lg {
      width: 60%;
    }
  }
}
